body{
    background-color: grey;
}

a{
    text-decoration: none;
}

.detailContainer {
  background-color: white;
  border-radius: 30px;
  width: 85%;
  height: auto;
  margin: 100px;
  padding-bottom: 30px;
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.25);
}

.detailRecord {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 3% ;
}

.detailRecord h2{
    font-weight: bolder;
    font-size: 24px;
}

.detailRecord p{
    font-size: 14px;
    color: grey;
}

.detailRecord .btn-print {
    margin-top: 5px;
    line-height: 0;
    padding: 15px 15px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #377E9A;
    box-shadow: 0px 5px 5px rgba(65, 84, 241, 0.4);
}

.detailRecord .btn-back {
    line-height: 10;
    border-radius: 4px;
    transition: 0.5s;
    color: #00000;
}

#detailTabel {
    overflow: auto;
    /* display: flex; */
    flex-direction: column-reverse;
    width: auto;
    height: 500px;
    margin-top: 50px;
}
